[submodule "NativeFileDialog.NET"]
	path = NativeFileDialog.NET
	url = https://github.com/VirtualBrightPlayz/NativeFileDialog.NET.git

[submodule "metadata-extractor-dotnet"]
	path = metadata-extractor-dotnet
	url = https://github.com/VirtualBrightPlayz/metadata-extractor-dotnet.git
